name: Build and upload code

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build getMessages zip
        working-directory: lambda/getMessages
        run: ./build.sh

      - name: Build postMessage zip
        working-directory: lambda/postMessage
        run: ./build.sh
