name: Build and upload code

on:
  push:
    branches:
      - "**"

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build getMessages zip
        working-directory: lambda/getMessages
        run: ./build.sh

      - name: Build postMessage zip
        working-directory: lambda/postMessage
        run: ./build.sh

  upload:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::580938938844:role/github_merlin_api
          aws-region: us-east-1

      - name: Check access
        run: aws sts get-caller-identity
