name: Build and upload code

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build getMessages zip
        run: ./lambda/getMessages/build.sh

      - name: Build postMessage zip
        run: ./lambda/postMessage/build.sh
